breadboard.sh
.idea
.idea_modules
.settings
archive
docs
logo
logs
db
project/project
project/target
conf/generated.keystore
target
tmp
ec2
.history
dist
.git
*.log
Breadboard.iml
*.bak
*.iml
.DS_Store
install
experiments
dev.sh