breadboard.sh
breadboard-without-keys.sh
public/bundles
.idea
.idea_modules
.settings
archive
docs
logo
logs
db
dev
project/project
project/target
conf/generated.keystore
conf/defaults/client-html.html
conf/defaults/client-graph.js
target
tmp
ec2
.history
dist
.git
*.log
Breadboard.iml
*.bak
*.iml
.DS_Store
install
experiments
dev.bat
dev.sh
node_modules
client-html.html
csv

.vscode
generated