<li role="presentation"
    ng-class="{'active': (selectedContent === vm.content)}">
    <a ng-click="vm.selectContent(vm.content)">
        <span ng-if="!vm.content.editName"
              class="form-control-static"
              ng-dblclick="vm.content.inputName = vm.content.name;vm.content.editName = true">
            {{ vm.content.name }}
        </span>
        <content-name ng-if="vm.content.editName" content="vm.content"></content-name>
        <tab-status status="vm.content.status"></tab-status>
        <button ng-if="selectedContent === vm.content"
                class="btn btn-link btn-xxs"
                title="Delete this content"
                tooltip="Delete this content"
                tooltip-placement="bottom"
                ng-click="vm.deleteContent(vm.content)">
                    <span class="glyphicon glyphicon-remove glyph-xxs"
                          aria-hidden="true">
                    </span>
        </button>
    </a>
</li>
