<div class="main" id="mainDiv">
    <div id="dropped" ng-if="client.player.dropped == true">
        <p><span>You have been dropped for being idle.</span></p>
        <p><strong>Please return this HIT.</strong></p>
    </div>
    <div id="status" class="timers" ng-hide="client.player.dropped == true">
        <bb-timer ng-repeat="timer in client.player.timers | orderBy:'order'"
                  timer="timer"
        ></bb-timer>
    </div>
    <div id="game" class="game">
        <div id="graph" ng-hide="client.player.dropped == true"></div>
        <div id="rightDiv" ng-hide="client.player.dropped == true">
            <div id="text" ng-bind-html="client.player.text | to_trusted"></div>
            <div id="choices" ng-controller="ChoicesCtrl">
                <ng-form name="choicesForm" ng-hide="client.player.choices === undefined">
                    <div ng-if="custom" bind-html-compile="custom"></div>
                    <button ng-repeat="choice in childChoices |filter: {class: '!drop'}" class="{{choice.class}}" ng-click="makeChoice(choice.uid)" ng-disabled="choicesForm.$invalid || hasSelectedChoice">
                        {{choice.name}} <span ng-if="choice.wasSelected" class="fa fa-spinner fa-spin"></span>
                    </button>
                </ng-form>
            </div> <!-- choices -->
        </div>  <!-- rightDiv -->
    </div> <!-- gameDiv -->
</div> <!-- mainDiv -->