html
  overflow-y: unset !important
.hidden
  display: none !important
.flex-grow-0
  flex-grow: 0
.flex-shrink-0
  flex-shrink: 0
.m-auto
  margin: auto

.overflow-hidden
  overflow: hidden
.overflow-auto
  overflow: auto

$fractions: ("1\\\/3": 1/3, "2\\\/3": 2/3, "1\\\/2": 1/2, "1\\\/4": 1/4, "3\\\/4": 3/4, "full": 1)
$sizes: (1: 1em, 2: 1.3em, 4: 1.6em, 6: 1.8em, 8: 2em)
$dirs: ("t": "-top", "b": "-bottom", "r": "-right", "l": "-left")
$types: ("p": "padding", "m": "margin")

@each $d, $dir in ("h": "height", "w": "width")
  @each $mod in ("-min", "-max", "")
    .#{$d}#{$mod}-full
      #{$dir}: 100%
    .#{$d}#{$mod}-screen
      #{$dir}: 100v#{$d}
  @each $fStr, $fraction in $fractions
    .#{$d}-#{$fStr}
      #{$dir}: percentage($fraction)


@each $n, $size in $sizes
  @each $t, $type in $types
    .#{$t}y-#{$n}
      #{$type}-top: $size
      #{$type}-bottom: $size
    .#{$t}x-#{$n}
      #{$type}-left: $size
      #{$type}-right: $size
    @each $d, $dir in $dirs
      .#{$t}#{$d}-#{$n}
        #{$type}-#{$dir}: $size