<form id="login-form">
    <div class="form-group error" ng-show="hasError">
        {{$scope.errorMessage}}
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" ng-model="vm.email" autofocus>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ng-model="vm.password">
    </div>
    <div class="form-group">
        <button class="btn" type="submit" ng-click="submit()">Login</button>
    </div>
</form>