<div id="mainDiv" ng-cloak>
    <div class="container-fluid">
        <div class="form-inline row">
            <div class="form-group experiment-group">
                <label for="select-experiment"
                       class="form-control-static">
                    Experiment
                </label>
                <select class="form-control input-sm"
                        id="select-experiment"
                        ng-hide="breadboard.user.experiments.length == 0"
                        ng-options="experiment.name for experiment in breadboard.user.experiments track by experiment.id"
                        ng-change="experimentChanged()"
                        ng-model="breadboard.experiment"
                        ng-disabled="breadboard.experimentInstance.status === 'RUNNING'">
                </select>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default"
                            ng-disabled="instance.status === 'RUNNING' || instance.status === 'FINISHED'"
                            id="newExperimentButton"
                            ng-click="newExperiment()"
                            ng-disabled="breadboard.experimentInstance.status === 'RUNNING'">
                    <span class="glyphicon glyphicon-plus"
                          tooltip="Create a new experiment"
                          tooltip-placement="bottom"
                          tooltip-append-to-body="true"
                          aria-hidden="true">
                    </span>
                    </button>
                    <button class="btn btn-default"
                            id="deleteExperimentButton"
                            ng-disabled="breadboard.experimentInstance.status === 'RUNNING' || breadboard.experiment === undefined || breadboard.experiment === ''"
                            ng-click="deleteExperiment()">
                    <span class="glyphicon glyphicon-remove"
                          tooltip="Delete the selected experiment"
                          tooltip-placement="bottom"
                          tooltip-append-to-body="true"
                          aria-hidden="true">
                    </span>
                    </button>
                    <button class="btn btn-default"
                            id="exportButton"
                            ng-disabled="breadboard.experiment === undefined || breadboard.experiment === ''"
                            ng-click="exportExperiment()">
                    <span class="glyphicon glyphicon-export"
                          tooltip="Export the selected experiment"
                          tooltip-placement="bottom"
                          tooltip-append-to-body="true"
                          aria-hidden="true">
                    </span>
                    </button>
                    <button class="btn btn-default"
                            id="importButton"
                            ng-click="openImportDialog()">
                    <span class="glyphicon glyphicon-import"
                          tooltip="Import an experiment"
                          tooltip-placement="bottom"
                          tooltip-append-to-body="true"
                          aria-hidden="true">
                    </span>
                    </button>
                </div>
            </div>
            <div class="form-group experiment-group">
                <label for="select-experiment-instance"
                       class="control-label">
                    Instance
                </label>
                <select class="form-control input-sm"
                        id="select-experiment-instance"
                        ng-hide="breadboard.user.experiments.length === 0 || breadboard.experiment.instances.length === 0"
                        ng-options="instance as instance.name for instance in breadboard.experiment.instances track by instance.id"
                        ng-model="breadboard.experimentInstance"
                        ng-disabled="breadboard.experimentInstance.status === 'RUNNING'">
                </select>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default"
                            id="newInstanceButton"
                            ng-disabled="breadboard.experimentInstance.status === 'RUNNING' || breadboard.experiment === undefined || breadboard.experiment === ''"
                            ng-click="openNewInstanceModal()">
                        <span class="glyphicon glyphicon-plus"
                              tooltip="Create an experiment instance"
                              tooltip-placement="bottom"
                              tooltip-append-to-body="true"
                              aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default"
                            id="removeInstanceButton"
                            ng-disabled="breadboard.experimentInstance.status === 'RUNNING' || !breadboard.experimentInstance"
                            ng-click="deleteInstance(breadboard.experimentInstance.name, breadboard.experimentInstance.id)">
                        <span class="glyphicon glyphicon-remove"
                              tooltip="Delete the selected experiment instance"
                              tooltip-placement="bottom"
                              tooltip-append-to-body="true"
                              aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default"
                            id="runButton"
                            ng-disabled="breadboard.experimentInstance == '' || breadboard.experimentInstance.status === 'RUNNING' || breadboard.experimentInstance.status === 'FINISHED'"
                            ng-click="selectInstance(breadboard.experimentInstance.id)">
                    <span class="glyphicon glyphicon-play"
                          tooltip="Start the selected experiment instance"
                          tooltip-placement="bottom"
                          tooltip-append-to-body="true"
                          aria-hidden="true">
                    </span>
                    </button>
                    <button class="btn btn-default"
                            id="stopButton"
                            ng-click="stopGame(breadboard.experimentInstance.id)"
                            ng-disabled="breadboard.experimentInstance.status !== 'RUNNING'">
                    <span class="glyphicon glyphicon-stop"
                          tooltip="Stop the selected experiment instance"
                          tooltip-placement="bottom"
                          tooltip-append-to-body="true"
                          aria-hidden="true">
                    </span>
                    </button>
                    <button class="btn btn-default"
                            id="reloadButton"
                            ng-click="reload()">
                        <span class="fa fa-refresh"
                              ng-show="scriptEngineState === ENGINE_STATE.READY"
                              tooltip="Reload the script engine"
                              tooltip-placement="bottom"
                              tooltip-append-to-body="true"
                              aria-hidden="true">
                        </span>
                        <span class="fa fa-refresh fa-spin"
                              ng-show="scriptEngineState === ENGINE_STATE.LOADING"
                              tooltip="The script engine is reloading"
                              tooltip-placement="bottom"
                              tooltip-append-to-body="true"
                              aria-hidden="true">
                        </span>
                        <span class="fa fa-info-circle text-danger"
                              ng-show="scriptEngineState === ENGINE_STATE.STALE"
                              tooltip="The script engine may be in an inconsistent state. Reload the script engine"
                              tooltip-placement="bottom"
                              tooltip-append-to-body="true"
                              aria-hidden="true">
                        </span>
                        <span class="fa fa-check-circle text-success"
                              ng-show="scriptEngineState === ENGINE_STATE.LOADED"
                              tooltip="The script engine has reloaded"
                              tooltip-placement="bottom"
                              tooltip-append-to-body="true"
                              aria-hidden="true">
                        </span>
                    </button>
                    <button class="btn btn-default"
                            tooltip="Execute initStep.start()"
                            tooltip-placement="bottom"
                            tooltip-append-to-body="true"
                            id="startInitStep"
                            ng-click="run()">
                        Start InitStep
                    </button>
                </div>
            </div>
            <div class="form-group pull-right">
                <p class="form-control-static text-right" id="logoutDiv">
                    You are logged in as <a ng-click="showUserSettings()">{{breadboard.user.email}}</a> | <a
                        ng-click="logout()">Log out</a>
                </p>
            </div>
        </div>
    </div>

    <div id="bottomDiv" class="footer task-bar">
        <div id="dockDiv"></div>
    </div>


    <!-- Dialogs -->

    <!-- New Experiment Instance -->
    <div id="newExperimentInstanceDialog" style="display: none;">
        <form name="createExperimentInstanceForm" class="form-horizontal">
            <h4>Instance</h4>
            <div class="form-group">
                <label class="col-md-3 control-label"
                       for="experiment-instance-name">
                    Name
                </label>
                <div class="col-md-4">
                    <input class="form-control" type="text" id="experiment-instance-name" ng-model="experimentInstanceName" required>
                </div>
                <div class="col-md-5"></div>
            </div>
            <div class="form-group" ng-repeat="elem in breadboard.experiment.parameters">
                    <span ng-if="elem.type === 'Text'">
                        <label class="col-md-3 control-label" for="{{elem.name}}_text">{{elem.name}}</label>

                        <div class="col-md-4">
                            <input class="form-control" id="{{elem.name}}_text" ng-model="launchParameters[elem.name]"
                                   type="text" ng-init="launchParameters[elem.name] = elem.defaultVal" required>
                        </div>
                    </span>

                <span ng-if="elem.type === 'Boolean'">
                        <label class="col-md-3 control-label" for="{{elem.name}}_checkbox">{{elem.name}}</label>

                        <div class="col-md-4">
                            <input id="{{elem.name}}_checkbox" ng-model="launchParameters[elem.name]"
                                   type="checkbox" ng-init="launchParameters[elem.name] = (elem.defaultVal === 'true')">
                        </div>
                    </span>

                <span ng-if="elem.type === 'Integer'">
                        <label class="col-md-3 control-label" for="{{elem.name}}_integer">{{elem.name}}</label>

                        <div class="col-md-4">
                            <input class="form-control" id="{{elem.name}}_integer" ng-model="launchParameters[elem.name]"
                                   type="number" step="1" min="{{elem.minVal}}" max="{{elem.maxVal}}" ng-init="launchParameters[elem.name] = (elem.defaultVal | asNumber)">
                        </div>
                    </span>

                <span ng-if="elem.type === 'Decimal'">
                        <label class="col-md-3 control-label" for="{{elem.name}}_decimal">{{elem.name}}</label>

                        <div class="col-md-4">
                            <input class="form-control" id="{{elem.name}}_decimal" ng-model="launchParameters[elem.name]"
                                   type="number" step=".01" min="{{elem.minVal}}" max="{{elem.maxVal}}" ng-init="launchParameters[elem.name] = (elem.defaultVal | asNumber)">
                        </div>
                    </span>

                <div class="col-md-5">
                    <span class="note">{{elem.description}}</span>
                </div>
            </div>
            <div class="form-group col-md-12 text-right">
                <button class="btn btn-default" ng-disabled="createExperimentInstanceForm.$invalid" ng-click="launchGame()">Create</button>
            </div>
        </form>
    </div>

    <!-- New Experiment -->
    <div id="newExperimentDialog" style="display: none;">
        <div class="new-dialog">
            <create-new-experiment
                    user-id="breadboard.user.id"
                    user-experiments="breadboard.user.experiments">
            </create-new-experiment>

            <!--form class="form" ng-submit="createExperiment()">
                <p>
                    Copy
                    <select name="copyExperiment" ng-options="experiment for experiment in breadboard.user.experiments"
                            ng-model="copyExperimentName">
                        <option value="">Default</option>
                    </select>
                </p>
                <p>
                    <input name="name" ng-model="newExperimentName" placeholder="Name" required>
                </p>

                <p>
                    <button jq-button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                            style="float: right;" type="submit">
                        <span class="ui-button-text">Create</span>
                    </button>
                </p>
            </form-->
        </div>
    </div>

    <!-- Import Experiment -->
    <div id="importExperimentDialog" style="display: none;">
        <div class="new-dialog">
            <form ng-submit="importExperiment()">
                <p>
                    <label for="importExperimentImportFrom">Import experiment from: <br>
                        <small>(breadboard-v2.X/experiments/...)</small>
                    </label>
                    <input id="importExperimentImportFrom" name="importFrom" ng-model="importFrom"
                           placeholder="Directory name" required>
                </p>
                <p>
                    <label for="importExperimentImportTo">Save experiment as:</label>
                    <input id="importExperimentImportTo" name="importTo" ng-model="importTo"
                           placeholder="Experiment name" required>
                </p>

                <p>
                    <button jq-button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                            style="float: right;" type="submit">
                        <span class="ui-button-text">Import</span>
                    </button>
                </p>
            </form>
        </div>
    </div>

    <!-- AMT Admin -->
    <div>
        <div ui-jq="dialog" ui-options="amtAdminDialogOptions" id="amtAdminDiv">
            <amt-admin experiment="breadboard.experiment" experiment-instance="breadboard.experimentInstance"
                       on-create-hit="submitAMTTask"></amt-admin>
        </div>
    </div>

    <!-- Content w/ Translation support -->
    <div>
        <div ui-jq="dialog" ui-options="contentDialogOptions" id="contentDiv">
            <content experiment-id="breadboard.experiment.id"
                     experiment-languages="breadboard.experiment.languages"
                     ng-if="breadboard.experiment"
                     actions="contentActions"></content>
        </div>
    </div>

    <!-- CustomizeController -->
    <div>
        <div ui-jq="dialog" ui-options="customizeDialogOptions" id="customizeDiv">
            <customize
                    ng-if="breadboard.experiment"
                    actions="customizeActions"
                    experiment-id="breadboard.experiment.id">
            </customize>
        </div>
    </div>

    <!-- Experiment Instances -->
    <div>
        <div ui-jq="dialog" ui-options="launchDialogOptions" id="launchDiv">
            <div>
                <table class="table table-hover" id="instance-table">
                    <thead>
                    <tr>
                        <td colspan="6">
                            <button class="btn btn-default btn-sm pull-right"
                                    ng-click="downloadExperimentCsv(breadboard.experiment)">
                                Download List
                            </button>
                            <button class="btn btn-default btn-sm pull-right"
                                    ng-disabled="breadboard.experimentInstance.status === 'RUNNING' || breadboard.experiment === undefined || breadboard.experiment === ''"
                                    ng-click="openNewInstanceModal()">
                                Create instance
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>Instance</th>
                        <th>Status</th>
                        <th>Creation Date</th>
                        <th>Actions</th>
                        <th>Client URL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="breadboard.experiment.instances.length == 0"><td colspan="6">No instances</td></tr>
                    <tr ng-repeat-start="instance in breadboard.experiment.instances"
                        ng-class="{'info':(instance.id === breadboard.experimentInstance.id)}"
                        ng-click="breadboard.experimentInstance = instance">
                        <td>{{instance.id}}</td>
                        <td>{{instance.name}}</td>
                        <td>{{instance.status}}</td>
                        <td>{{instance.creationTime}}</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-default"
                                        title="Start the selected experiment instance"
                                        tooltip="Start the selected experiment instance"
                                        tooltip-placement="bottom"
                                        ng-disabled="instance.status === 'RUNNING' || instance.status === 'FINISHED'"
                                        ng-click="selectInstance(instance.id)">
                                    <span class="glyphicon glyphicon-play"
                                          aria-hidden="true">
                                    </span>
                                </button>
                                <button class="btn btn-default"
                                        title="Stop the selected experiment instance"
                                        tooltip="Stop the selected experiment instance"
                                        tooltip-placement="bottom"
                                        ng-click="stopGame(instance.id)"
                                        ng-disabled="instance.status !== 'RUNNING'">
                                    <span class="glyphicon glyphicon-stop"
                                          aria-hidden="true">
                                    </span>
                                </button>
                                <button class="btn btn-default"
                                        title="Delete the selected experiment instance"
                                        tooltip="Delete the selected experiment instance"
                                        tooltip-placement="bottom"
                                        ng-disabled="instance.status === 'RUNNING'"
                                        ng-click="deleteInstance(instance.name, instance.id)">
                                    <span class="glyphicon glyphicon-remove"
                                          aria-hidden="true">
                                    </span>
                                </button>
                                <button class="btn btn-default"
                                        title="Download experiment data"
                                        tooltip="Download experiment data"
                                        tooltip-placement="bottom"
                                        ng-click="downloadEventCsv(instance)">
                                    <span class="glyphicon glyphicon-save"
                                          aria-hidden="true">
                                    </span>
                                </button>
                            </div>
                        </td>
                        <td>
                          <span ng-show="instance.status === 'RUNNING'">
                            <a href="{{ getClientURL(breadboard.experiment.id,instance.id) }}" target="_blank">
                              {{ getClientURL(breadboard.experiment.id,instance.id) }}
                            </a>
                          </span>
                            <span ng-show="instance.status !== 'RUNNING'">
                              {{ getClientURL(breadboard.experiment.id,instance.id) }}
                          </span>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-show="instance.id === breadboard.experimentInstance.id">
                        <td colspan="6">
                            <instance-parameters instance="breadboard.experimentInstance"></instance-parameters>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Instance</th>
                        <th>Status</th>
                        <th>Creation Date</th>
                        <th>Actions</th>
                        <th>Client URL</th>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <button class="btn btn-default btn-sm pull-right"
                                    ng-click="downloadExperimentCsv(breadboard.experiment)">
                                Download List
                            </button>
                            <button class="btn btn-default btn-sm pull-right"
                                    ng-disabled="breadboard.experimentInstance.status === 'RUNNING' || breadboard.experiment === undefined || breadboard.experiment === ''"
                                    ng-click="openNewInstanceModal()">
                                Create instance
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- Graph -->
    <div>
        <div ui-jq="dialog" ui-options="graphDialogOptions" id="graphDiv">
        </div>
    </div>

    <!-- Images -->
    <div>
        <div ui-jq="dialog" ui-options="imagesDialogOptions" id="imagesDiv">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3">Add Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <!--<input type="file" name="picture">-->
                            <button ngf-select
                                    class="btn btn-default"
                                    ngf-pattern="'image/*'"
                                    ng-model="image.file">
                                Select an image
                            </button>
                        </td>
                        <td>
                            {{image.file.name}}
                        </td>
                        <td>
                            <button title='Add image'
                                    class="btn btn-default"
                                    ng-click="uploadImage()">
                                <span class="step-icon ui-icon-plusthick">Upload image</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                <tr>
                    <th>File Name</th>
                    <th>Image</th>
                    <th>URL</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="image in breadboard.experiment.images">
                    <td>{{image.fileName}}</td>
                    <td><img ng-src="/thumbs/{{image.id}}"></td>
                    <td>/images/{{image.id}}</td>
                    <td>
                        <button title='Delete image'
                                class="btn btn-default"
                                ng-click='deleteImage(image.id)'><span
                                class="step-icon ui-icon-closethick">Delete image</span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Output -->
    <div>
        <div class="testClass" ui-jq="dialog" ui-options="outputDialogOptions" id="outputDiv">
            {{breadboard.output}}
            <span class="error">{{breadboard.error}}</span>
        </div>
    </div>

    <!-- Parameters -->
    <div>
        <div ui-jq="dialog" ui-options="parametersDialogOptions" id="parametersDiv">
            <form name="createParameter" >
                <table class="table" id="parametersTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Default</th>
                        <th>Short Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input class="form-control input-sm" style="width: 8em;" type="text" name="parameterName" ng-model="parameterName"
                                   placeholder="Name" required></td>
                        <td>
                            <select class="form-control input-sm" ng-change="clearParameterFields()" style="width: 7em;" ng-model="parameterType" required>
                                <option></option>
                                <option value="Boolean">Boolean</option>
                                <option value="Decimal">Decimal</option>
                                <option value="Integer">Integer</option>
                                <option value="Text">Text</option>
                            </select>
                        </td>
                        <td><input class="form-control input-sm" style="width: 5em;" ng-disabled="parameterType!=='Decimal' && parameterType!=='Integer'"
                                   type="number" name="parameterMin"
                                   max="{{parameterMax}}"
                                   ng-model="parameterMin"
                                   placeholder="min"
                                   ng-required="parameterType === 'Decimal' || parameterType === 'Integer'" required></td>
                        <td><input class="form-control input-sm" style="width: 5em;" ng-disabled="parameterType!=='Decimal' && parameterType!=='Integer'"
                                   type="number" name="parameterMax"
                                   min="{{parameterMin}}"
                                   ng-model="parameterMax" placeholder="max"
                                   ng-required="parameterType === 'Decimal' || parameterType === 'Integer'"></td>
                        <td ng-show="!parameterType">
                            <input class="form-control input-sm"
                                   style="width: 6em;"
                                   type="text"
                                   placeholder="Default"
                                   disabled>
                        </td>
                        <td ng-show="parameterType === 'Integer'">
                            <input class="form-control input-sm"
                                   style="width: 6em;"
                                   type="number"
                                   min="{{parameterMin}}"
                                   max="{{parameterMax}}"
                                   step="1"
                                   ng-model="parameterDefaultInteger"
                                   placeholder="Default"
                                   ng-required="parameterType === 'Integer'">
                        </td>
                        <td ng-show="parameterType === 'Decimal'">
                            <input class="form-control input-sm"
                                   style="width: 6em;"
                                   type="number"
                                   min="{{parameterMin}}"
                                   max="{{parameterMax}}"
                                   step="0.01"
                                   ng-model="parameterDefaultDecimal"
                                   placeholder="Default"
                                   ng-required="parameterType === 'Decimal'">
                        </td>
                        <td ng-show="parameterType === 'Text'">
                            <input class="form-control input-sm"
                                   style="width: 6em;"
                                   type="text"
                                   ng-model="parameterDefaultText"
                                   placeholder="Default"
                                   ng-required="parameterType === 'Text'">
                        </td>
                        <td ng-show="parameterType === 'Boolean'">
                            <select class="form-control input-sm" ng-model="parameterDefaultBoolean" ng-required="parameterType === 'Boolean'">
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </td>
                        <td><input class="form-control input-sm" style="width: 16em;" type="text" name="parameterDescription"
                                   ng-model="parameterDescription" placeholder="Short Description" required></td>
                        <td>
                            <button class="btn btn-default btn-sm" title="Create parameter" type="submit" ng-disabled="createParameter.$invalid" ng-click="newParameter()">
                                <span class="glyphicon glyphicon-plus"
                                      aria-hidden="true">
                                </span>
                            </button>
                        </td>
                    </tr>
                    <tr class="parameters" ng-repeat="elem in breadboard.experiment.parameters">
                        <td><p class="form-control-static">{{elem.name}}</p></td>
                        <td><p class="form-control-static">{{elem.type}}</p></td>
                        <td><p class="form-control-static">{{elem.minVal}}</p></td>
                        <td><p class="form-control-static">{{elem.maxVal}}</p></td>
                        <td><p class="form-control-static">{{elem.defaultVal}}</p></td>
                        <td><p class="form-control-static">{{elem.description}}</p></td>
                        <td>
                            <button type="button"
                                    onmouseover="$(this).parent().parent().css('background', '-webkit-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%)');"
                                    onmouseout="$(this).parent().parent().css('background', '');"
                                    class="btn btn-default btn-sm"
                                    title="Delete parameter"
                                    ng-click="removeParameter(elem.id)">
                                <span class="glyphicon glyphicon-remove"
                                      aria-hidden="true">
                                </span>
                            </button>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <!-- Players -->
    <div>
        <div ui-jq="dialog" ui-options="playerDialogOptions" id="playerDiv">
            <div class="container-fluid scrollable-container">
                <div class="row scrollable-container">
                    <div class="col-md-3 scrollable">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="node in nodes | playerOrder"
                                role="presentation"
                                ng-class="{'active':(node.id === selectedNode.id)}">
                                <a class="pill-condensed" ng-click="selectNode(node)">{{node.id | shortId}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9 scrollable">
                        <div ng-show="selectedNode">
                            <div id="playerStatusDiv">
                                <h3>Player {{selectedNode.id | shortId}}</h3>
                                <pre>{{playerProperties(selectedNode) | json}}</pre>
                            </div>
                            <div id='playerText' ng-bind-html="selectedNode.text | to_trusted"></div>
                            <div id='playerChoices'>
                                <button ng-repeat="choice in selectedNode.choices" class="{{choice.class}}"
                                        ng-click="makeChoice($index)">
                                    {{choice.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script -->
    <div>
        <div ui-jq="dialog" ui-options="scriptDialogOptions" id="scriptDiv">
        <textarea id="scriptTextArea" class="codemirror" ui-codemirror ui-codemirror-opts="scriptCodemirrorOptions"
                  ng-model="breadboard.user.currentScript"></textarea>
        </div>
    </div>

    <!-- Steps -->
    <div>
        <div ui-jq="dialog" ui-options="stepsDialogOptions" id="stepsDiv">
            <steps
                    ng-if="breadboard.experiment"
                    actions="stepsActions"
                    experiment-id="breadboard.experiment.id">
            </steps>
        </div>
    </div>

    <!--div>
        <div ui-jq="dialog" ui-options="stepsDialogOptions" id="stepsDiv">
            <div id="stepsTabsDiv">
          <span class="steps-tab selected-{{$parent.selectedStep==step}}"
                ng-repeat="step in breadboard.experiment.steps | orderBy: 'name'" ng-init="initStep(step)"><a
                  ng-click="$parent.selectedStep=step">{{step.name}}</a><a title="Delete step"
                                                                           ng-click="deleteStep(step)"
                                                                           class="step-titlebar-close ui-corner-all"
                                                                           role="button"><span
                  class="step-icon ui-icon-closethick">close</span></a></span><span class="steps-tab"><a
                    title="Create new step" ng-click="newStep()"><span
                    class="step-icon ui-icon-plusthick">New step</span></a></span>
            </div>
            <div id="stepSourceDiv">
          <textarea class="codemirror" ui-codemirror ui-codemirror-opts="stepCodemirrorOptions"
                    ng-model="selectedStep.source" ng-refresh="stepCodemirrorOptions.vimMode"> </textarea>
            </div>
        </div>
    </div-->

    <div class="delete-dialog" id="deleteStepDialog" style="display: none;">
        <p id="deleteStepDesc"></p>
    </div>

    <div class="new-dialog" id="addLanguageDialog" style="display: none;">
        <form ng-submit="addLanguage()">
            <p>
                <input name="code" ng-model="newLanguageCode" placeholder="ISO 639-1 Code" required>
                <input name="name" ng-model="newLanguageName" placeholder="Display Name" required>
            </p>
        </form>
    </div>

    <div class="new-dialog" id="newStepDialog" style="display: none;">
        <form ng-submit="createStep()">
            <p>
                <input name="name" ng-model="newStepName" placeholder="Name" required>
            </p>

            <p>
                <button style="float: right;" type="submit">Create</button>
            </p>
        </form>
    </div>

    <!-- Experiment -->
    <div class="delete-dialog" id="deleteExperimentDialog" style="display: none;">
        <p>
            Are you sure that you want to permanently delete the experiment '<span class="deleteExperimentName"></span>'
            and
            all of its associated data and instances?
        </p>
    </div>

    <!-- User Settings -->
    <div class="user-settings-dialog" id="userSettingsDialog" title="User Settings" style="display: none;">
        <div class="user-setting-section">
            <fieldset>
                <legend>Change Password</legend>
                <ul id="changePasswordError" class="error" style="display: none;"></ul>
                <p>
                    <label class="fixed-width" for="currentPassword">Current Password</label>*
                    <input type="password" name="currentPassword" id="currentPassword"/>
                </p>

                <p>
                    <label class="fixed-width" for="newPassword">New Password</label>*
                    <input type="password" name="newPassword" id="newPassword"/>
                </p>

                <p>
                    <label class="fixed-width" for="confirmNewPassword">Confirm Password</label>*
                    <input type="password" name="confirmNewPassword" id="confirmNewPassword"/>
                </p>
            </fieldset>
        </div>

    </div>

    <!-- Delete instance -->
    <div class="delete-dialog" id="deleteInstanceDialog" title="Delete Instance" style="display: none;">
        <p>
            Are you sure that you want to permanently delete the instance "<span id="deleteInstanceDialogDesc"
                                                                                 class="bold"></span>
            "
            and all of its associated data?</p>
    </div>

    <div id="amtErrorDialog" style="display: none;">
        <p>Please select an experiment and launch an instance before posting a HIT.</p>
    </div>

    <style id="styleTag"></style>
</div>
<!-- END mainDiv -->