<li role="presentation"
    ng-class="{'active': (selectedStep === vm.step)}">
    <a ng-click="vm.selectStep(vm.step)">
        <span ng-if="!vm.step.editName">{{ vm.step.name }}</span>
        <step-name ng-if="vm.step.editName" step="vm.step"></step-name>
        <tab-status status="vm.step.status"></tab-status>
        <button ng-if="selectedStep === vm.step && vm.protectedSteps.indexOf(vm.step.name) === -1"
                class="btn btn-xxs"
                title="Delete this step"
                tooltip="Delete this step"
                tooltip-placement="bottom"
                ng-click="vm.deleteStep(vm.step)">
                    <span class="glyphicon glyphicon-remove glyph-xxs"
                          aria-hidden="true">
                    </span>
        </button>
    </a>
</li>
