iframe.testing-iframe {
    width: 1280px;
    height: 786px;
    border: 0;
    transform: scale(0.25);
    transform-origin: 0 0;
}

.testing-iframe-div {
    width: 320px;
    height: 192px;
    position: relative;
    display: inline-block;
    padding: 0;
    overflow: hidden;
}

.testing-iframe-label {
    position: absolute;
    top: .25em;
    left: .25em;
    z-index: 20000;
}
