<div>
    <div class="container-fluid" ng-class="{'bg-info': !sandbox, 'bg-warning': sandbox}">
        <div class="pull-right">
            <p class="text-right margin-top">
                Account Balance: {{ (accountBalance == null) ? "Loading" : accountBalance | currency:"$" }}
            </p>
            <h3>
                {{(sandbox) ? "Developer Sandbox" : "Production Mode"}}
                <button ng-click="toggleSandbox()" type="button" class="btn btn-default">
                    {{(!sandbox) ? "Switch to Sandbox" : "Switch to Production"}}
                </button>
            </h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row"><div class="col-md-12">&nbsp;</div></div>
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'active': (selectedTab === 'manage') }">
                <a ng-click="selectedTab = 'manage'">Manage HITs</a>
            </li>
            <li role="presentation" ng-class="{'active': (selectedTab === 'create') }">
                <a ng-click="selectedTab = 'create'">Create HIT</a>
            </li>
            <li role="presentation" ng-class="{'active': (selectedTab === 'payment') }">
                <a ng-click="selectedTab = 'payment'">Create payment HITs</a>
            </li>
            <li role="presentation" ng-class="{'active': (selectedTab === 'workers') }">
                <a ng-click="selectedTab = 'workers'">Manage workers</a>
            </li>
            <li role="presentation" ng-class="{'active': (selectedTab === 'qualifications') }">
                <a ng-click="selectedTab = 'qualifications'">Manage qualifications</a>
            </li>
        </ul>
        <div ng-show="selectedTab === 'create'">
            <div>&nbsp;</div>
            <create-hit on-create-hit="onCreateHit()"
                        experiment="experiment"
                        experiment-instance="experimentInstance"
                        sandbox="sandbox">
            </create-hit>
        </div>
    </div>
    <div class="container-fluid">
        <div ng-show="selectedTab === 'manage'">
            <div>&nbsp;</div>
            <manage-hits sandbox="sandbox" experiment-id="experiment.id"></manage-hits>
        </div>

        <div ng-show="selectedTab === 'payment'">
            <div>&nbsp;</div>
            <p>
                A worker can complete a Payment HIT simply by clicking a 'Submit' button. A Payment HIT can only be
                accepted by the worker specified, and can be found by searching for the worker ID.
            </p>
            <p>
                Enter a list of AMT Worker IDs&mdash;one per line&mdash;the reason for the payment, and a reward in
                dollars.
            </p>
            <form name="dummyHITForm" class="form" ng-if="dummyHIT.submitted.length === 0">
                <div class="form-group col-md-6">
                    <label for="workerIDs">Worker IDs</label>
                    <textarea class="form-control" ng-model="dummyHIT.workerIDs" rows="15" id="workerIDs"
                              placeholder="Worker IDs" required></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="reason">Reason</label>
                    <textarea class="form-control" ng-model="dummyHIT.reason" rows="2" id="reason" placeholder="Reason"
                              required></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="reward">Reward</label>
                    <input class="form-control currency" ng-model="dummyHIT.reward" type="number" min="0.01" step="0.01"
                           id="reward" required>
                </div>
                <div class="form-group col-md-12">
                    <button type="submit" ng-click="submitDummyHITs()" class="btn btn-default"
                            ng-disabled="!dummyHITForm.$valid">Create Payment HITs
                    </button>
                </div>
            </form>

            <div ng-if="dummyHIT.submitted.length > 0">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-3">Worker ID</th>
                        <th class="col-md-9">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="s in dummyHIT.submitted">
                        <td>{{ s.workerId }}</td>
                        <td>{{ s.status }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label for="reason-view">Reason</label>
                    <p class="form-control-static" id="reason-view">{{ dummyHIT.reason }}</p>
                </div>
                <div class="form-group">
                    <label for="reward-view">Reward</label>
                    <p class="form-control-static" id="reward-view">{{ dummyHIT.reward | currency:'$' }}</p>
                </div>
                <div class="form-group">
                    <button ng-click="clearDummyHITs()" class="btn btn-default" ng-disabled="dummyHIT.nPending > 0">
                        Create more Payment HITs
                    </button>
                </div>
            </div>
        </div>


        <div ng-show="selectedTab === 'workers'">
            <div>&nbsp;</div>
            <div ng-show="manageWorkers.status === 0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        No experiment selected
                    </div>
                    <div class="panel-body">
                        <p>Select an experiment to manage the AMT workers who have previously participated in the experiment.</p>
                    </div>
                </div>
            </div>
            <div class="form-inline text-right" ng-show="manageWorkers.status === 1 || manageWorkers.status === 2">
                <div class="form-group">
                    <button class="btn btn-default"
                            ng-disabled="manageWorkers.importStatus !== 0"
                            ng-click="openImportWorkersDialog()">
                        Add participant qualifications
                        <i ng-show="manageWorkers.importStatus === 3"
                           class="fa fa-info-circle text-danger"
                           aria-hidden="true"></i>
                        <i ng-show="manageWorkers.importStatus === 2"
                           class="fa fa-check-circle text-success"
                           aria-hidden="true"></i>
                        <i ng-show="manageWorkers.importStatus === 1"
                           class="fa fa-refresh fa-spin text-info"
                           aria-hidden="true"></i>
                    </button>
                </div>
                <label for="resultsPerPage"
                       class="control-label">Results per page</label>
                <div id="resultsPerPage" class="btn-group" role="group" aria-label="Results per page">
                    <button type="button"
                            ng-class="{'btn-primary':(manageWorkers.limit == 25)}"
                            ng-click="manageWorkers.limit=25"
                            class="btn btn-default">25</button>
                    <button type="button"
                            ng-class="{'btn-primary':(manageWorkers.limit == 50)}"
                            ng-click="manageWorkers.limit=50"
                            class="btn btn-default">50</button>
                    <button type="button"
                            ng-class="{'btn-primary':(manageWorkers.limit == 100)}"
                            ng-click="manageWorkers.limit=100"
                            class="btn btn-default">100</button>
                </div>

                <i class="fa fa-search" aria-hidden="true"></i>
                <div class="form-group">
                    <label for="amtWorkerSearch"
                           class="control-label">Worker ID</label>
                    <input class="form-control"
                           id="amtWorkerSearch"
                           type="text"
                           ng-model="manageWorkers.search">
                </div>
            </div>
            <div ng-show="manageWorkers.status === 1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Loading...</p>
                    </div>
                </div>
            </div>
            <div ng-show="manageWorkers.status === 2">
                <div class="text-center">
                    <pagination total-items="manageWorkers.total"
                                max-size="10"
                                class="pagination-sm"
                                boundary-links="true"
                                items-per-page="manageWorkers.limit"
                                ng-model="manageWorkers.page"></pagination>
                </div>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Worker ID</th>
                        <th>Assignments</th>
                        <th>Assignments completed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="worker in manageWorkers.amtWorkers | orderBy: 'id'"
                        ng-class="{'info' : (manageWorkers.selectedWorker === worker)}">
                        <td>
                            <i class="fa"
                               ng-class="{'fa-minus-circle' : (manageWorkers.selectedWorker === worker), 'fa-plus-circle': (manageWorkers.selectedWorker !== worker)}"
                               ng-click="(manageWorkers.selectedWorker === worker) ? manageWorkers.selectedWorker = undefined : manageWorkers.selectedWorker = worker"
                               aria-hidden="true"></i>
                            {{ worker.id }}
                        </td>
                        <td>{{ worker.nAssignments }}</td>
                        <td>{{ worker.assignmentsCompleted }}</td>
                    </tr>
                    <tr ng-repeat-end ng-show="manageWorkers.selectedWorker === worker">
                        <td colspan="4">
                            <div class="margin-left">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th class="col-md-3">Experiment</th>
                                        <th class="col-md-3">Assignment ID</th>
                                        <th class="col-md-1">Status</th>
                                        <th class="col-md-1">Submit date</th>
                                        <th class="col-md-2">Reason</th>
                                        <th class="col-md-2">
                                            Completed
                                            <i class="fa fa-question-circle"
                                               tooltip="Worker completed {{experiment.name}} with this assignment"
                                               tooltip-placement="bottom"
                                               tooltip-append-to-body="true"
                                               aria-hidden="true"></i>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="assignment in worker.assignments">
                                        <td>{{ assignment.experimentName }}</td>
                                        <td>{{ assignment.assignmentId }}</td>
                                        <td>{{ assignment.assignmentStatus }}</td>
                                        <td>{{ assignment.submitTime | date: "yyyy-MM-dd" }}</td>
                                        <td>{{ assignment.reason }}</td>
                                        <td>
                                            <input type="checkbox"
                                                   ng-class="{'disabled' : (assignment.completedPending)}"
                                                   ng-model="assignment.assignmentCompleted"
                                                   ng-change="updateAssignmentCompleted(assignment)">

                                            <span ng-if="assignment.completedError !== null">
                                    Error: {{ assignment.completedError  }}
                                  </span>

                                            <span ng-if="assignment.completedSuccess">
                                    <span class="text-success glyphicon glyphicon-ok" aria-hidden="true"></span>
                                  </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Worker ID</th>
                        <th>Assignments</th>
                        <th>Assignments completed</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="panel panel-danger" ng-show="manageWorkers.status === 3">
                <div class="panel-heading">
                    <h3 class="panel-title">Error</h3>
                </div>
                <div class="panel-body">
                    <p ng-bind-html="manageWorkers.error | to_trusted"></p>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="selectedTab === 'qualifications'">
        <div>&nbsp;</div>
        <manage-qualifications sandbox="sandbox" experiment-id="experiment.id"></manage-qualifications>
    </div>

</div>
