<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div ng-show="manageHits.status === 0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        No AWS keys found
                    </div>
                    <div class="panel-body">
                        <p>To enable this function you must provide your AWS keys to breadboard. </p>
                        <p>Add <code>-DAMT_ACCESS_KEY=[ACCESS KEY] -DAMT_SECRET_KEY=[SECRET KEY]</code> to breadboard.sh or breadboard.bat.</p>
                        <p>See <a href="https://github.com/human-nature-lab/breadboard/wiki/Creating-an-AMT-Requester-Account">the documentation</a> for more information.</p>

                    </div>
                </div>
            </div>
            <div ng-show="manageHits.status === 1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Loading...</p>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-condensed" ng-show="manageHits.status === 2">
                <thead>
                <tr>
                    <th colspan="6" class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-sm">
                                <li ng-class="{'disabled' : (curToken < 1)}">
                                    <a ng-click="pageHITs(curToken - 1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li ng-class="{'active' : ($index === curToken)}" ng-repeat="t in tokens"><a
                                        ng-click="pageHITs($index)">{{ ($index + 1) }}</a></li>
                                <li ng-class="{'disabled' : (tokens.length === 0 || curToken === (tokens.length - 1))}">
                                    <a ng-click="pageHITs(curToken + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </th>
                    <th>
                        <button class="btn btn-default" ng-click="listHITs()">Refresh HITs</button>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="4" class="active">Assignments</th>
                </tr>
                <tr>
                    <th>Title</th>
                    <th>Creation Date</th>
                    <th>Reward</th>
                    <th class="active">Requested</th>
                    <th class="active">Pending Review</th>
                    <th class="active">Reviewed</th>
                    <th class="active">Remaining</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="hit in hits" ng-click="selectHIT(hit)" ng-class="{'info' : (selectedHIT == hit), 'success' : (experiment && experiment.uid && experiment.uid === hit.experimentUid)}">
                    <td>{{ hit.title }}</td>
                    <td>{{ hit.creationTime | date: "yyyy-MM-dd" }}</td>
                    <td>{{ hit.reward | currency:"$" }}</td>
                    <td class="active">{{ hit.maxAssignments }}</td>
                    <td class="active">{{ hit.maxAssignments - hit.numberOfAssignmentsAvailable -
                        hit.numberOfAssignmentsCompleted }}
                    </td>
                    <td class="active">{{ hit.numberOfAssignmentsCompleted }}</td>
                    <td class="active">{{ hit.numberOfAssignmentsAvailable }}</td>
                </tr>
                <tr ng-show="selectedHIT == hit" ng-repeat-end>
                    <td colspan="7">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Description
                                    </div>
                                    <div class="panel-body">
                                        {{ hit.description }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <span>Assignments</span>
                                        <button class="btn btn-default pull-right" ng-click="refreshAssignmentsForHIT(hit)">Refresh assignments</button>
                                    </div>
                                    <div class="panel-body">
                                        <span ng-show="hit.assignments === null">Loading...</span>
                                        <span ng-show="hit.assignments !== null && hit.assignments.length === 0">
                                            <p>No assignments found...</p>
                                        </span>
                                        <table class="table table-condensed" ng-show="hit.assignments !== null && hit.assignments.length > 0">
                                            <thead>
                                            <tr>
                                                <th>Assignment ID</th>
                                                <th>Worker ID</th>
                                                <th><span class="glyphicon glyphicon-check" ng-click="approveAll(hit)"
                                                          tooltip="Check all"
                                                          tooltip-placement="bottom"
                                                          tooltip-append-to-body="true"></span> Approve
                                                </th>
                                                <th><span class="glyphicon glyphicon-check" ng-click="rejectAll(hit)"
                                                          tooltip="Check all"
                                                          tooltip-placement="bottom"
                                                          tooltip-append-to-body="true"></span> Reject
                                                </th>
                                                <th><span class="glyphicon glyphicon-check" ng-click="grantAll(hit)"
                                                          tooltip="Check all"
                                                          tooltip-placement="bottom"
                                                          tooltip-append-to-body="true"></span> Bonus
                                                </th>
                                                <th><span class="glyphicon glyphicon-check" ng-click="completeAll(hit)"
                                                          tooltip="Mark all as having completed {{experiment.name}}"
                                                          tooltip-placement="bottom"
                                                          tooltip-append-to-body="true"></span> Completed
                                                </th>
                                                <th><span class="glyphicon glyphicon-check" ng-click="qualifyAll(hit)"
                                                          tooltip="Assign qualifications to all participants"
                                                          tooltip-placement="bottom"
                                                          tooltip-append-to-body="true"></span> Assign qualification
                                                </th>
                                                <th><span class="glyphicon glyphicon-collapse-down" ng-click="showAll(hit)"
                                                          tooltip="Show all answers"
                                                          tooltip-placement="bottom"
                                                          tooltip-append-to-body="true"
                                                          title="Show all"></span> Answers
                                                </th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <button class="btn btn-default" ng-if="hit.approveCount > 0"
                                                            ng-click="approveAssignments(hit)">Approve {{ hit.approveCount
                                                        }}
                                                    </button>
                                                </td>
                                                <td>
                                                    <div class="form-inline" ng-if="hit.rejectCount > 0">
                                                        <div class="form-group">
                                                            <label class="control-label"
                                                                   for="rejectReasonInput2">Reason</label>
                                                            <input type="text" ng-model="globals.rejectionReason"
                                                                   class="form-control" id="rejectReasonInput2"
                                                                   placeholder="Reason">
                                                        </div>
                                                        <button class="btn btn-default"
                                                                ng-disabled="globals.rejectionReason.length == 0"
                                                                ng-click="rejectAssignments(hit)">Reject {{ hit.rejectCount
                                                            }}
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-inline" ng-if="hit.bonusTotal > 0">
                                                        <div class="form-group">
                                                            <label class="control-label"
                                                                   for="bonusReasonInput2">Reason</label>
                                                            <input type="text" ng-model="globals.bonusReason"
                                                                   class="form-control" id="bonusReasonInput2"
                                                                   placeholder="Reason">
                                                        </div>
                                                        <button ng-disabled="globals.bonusReason.length == 0"
                                                                class="btn btn-default" ng-click="grantBonuses(hit)">Grant
                                                            {{ hit.bonusTotal | currency:"$" }}
                                                        </button>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <button class="btn btn-default" ng-click="getAssignmentsCSV(hit)">
                                                        Download CSV
                                                    </button>
                                                </td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="assignment in hit.assignments">
                                                <td>
                                                    <span tooltip="{{ assignment.assignmentId }}"
                                                          tooltip-append-to-body="true">
                                                        {{ assignment.assignmentId | shortId }}
                                                    </span>
                                                </td>
                                                <td>{{ assignment.workerId }}</td>

                                                <td>
                                  <span ng-if="assignment.approvalTime !== null">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    {{ assignment.approvalTime | date: "yyyy-MM-dd" }}
                                  </span>

                                                    <span ng-if="assignment.approvalPending !== null">
                                    Approval pending...
                                  </span>

                                                    <span ng-if="assignment.approvalError !== null">
                                    Error: {{ assignment.approvalError  }}
                                  </span>

                                                    <span ng-if="assignment.approvalPending === null && assignment.rejectionPending === null && assignment.approvalTime === null && assignment.rejectionTime === null && assignment.approvalError === null && assignment.rejectionError === null">
                                    <input type="checkbox" ng-model="assignment.approve" ng-disabled="assignment.reject"
                                           ng-change="updateAssignmentCounts(hit)"> Approve
                                  </span>
                                                </td>

                                                <td>
                                  <span ng-if="assignment.rejectionTime !== null">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    {{ assignment.rejectionTime | date: "yyyy-MM-dd" }}
                                  </span>

                                                    <span ng-if="assignment.rejectionPending !== null">
                                    Rejection pending...
                                  </span>

                                                    <span ng-if="assignment.rejectionError !== null">
                                    Error: {{ assignment.rejectionError  }}
                                  </span>

                                                    <span ng-if="assignment.rejectionPending === null && assignment.approvalPending === null && assignment.rejectionTime === null && assignment.approvalTime === null && assignment.rejectionError === null && assignment.approvalError === null">
                                    <input type="checkbox" ng-model="assignment.reject" ng-disabled="assignment.approve"
                                           ng-change="updateAssignmentCounts(hit)"> Reject
                                  </span>
                                                </td>

                                                <td>
                                                    <span ng-if="assignment.bonusGranted === null">Loading...</span>

                                                    <span ng-if="assignment.bonusGranted !== null && assignment.bonusGranted > 0">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    {{ assignment.bonusGranted | currency:"$" }}
                                  </span>

                                                    <span ng-if="assignment.bonusPending !== null">
                                    Bonus pending...
                                  </span>

                                                    <span ng-if="assignment.bonusError !== null">
                                    Error: {{ assignment.bonusError  }}
                                  </span>

                                                    <span ng-if="assignment.bonusPending === null && assignment.bonusGranted === 0 && assignment.bonusError === null && assignment.bonus !== null && assignment.bonus > 0">
                                    <input type="checkbox" ng-model="assignment.grantBonus"
                                           ng-change="updateAssignmentCounts(hit)">
                                    {{ assignment.bonus | currency:"$" }}
                                  </span>

                                                    <span ng-if="assignment.bonusPending === null && assignment.bonusGranted === 0 && assignment.bonusError === null && assignment.bonus !== null && (isNaN(assignment.bonus) || assignment.bonus <= 0)">
                                    {{ assignment.bonus | currency:"$" }}
                                  </span>
                                                </td>

                                                <td>
                                                    <input type="checkbox"
                                                           ng-class="{'disabled' : (assignment.completedPending)}"
                                                           ng-model="assignment.assignmentCompleted"
                                                           ng-change="updateAssignmentCompleted(assignment)">

                                                    <span ng-if="assignment.completedError !== null">
                                    Error: {{ assignment.completedError  }}
                                  </span>

                                                    <span ng-if="assignment.completedSuccess">
                                    <span class="text-success glyphicon glyphicon-ok" aria-hidden="true"></span>
                                  </span>
                                                </td>

                                                <td>
                                                    <input type="checkbox"
                                                           ng-class="{'disabled' : (assignment.qualificationPending)}"
                                                           ng-model="assignment.qualificationAssigned"
                                                           ng-change="assignQualification(assignment, hit.experimentUid)">

                                                    <i ng-show="assignment.qualificationSuccess"
                                                       class="fa fa-check text-success"
                                                       aria-hidden="true"></i>
                                                    <i ng-show="assignment.qualificationPending"
                                                       class="fa fa-refresh fa-spin text-info"
                                                       aria-hidden="true"></i>
                                                    <span ng-if="assignment.qualificationError !== null">
                                    Error: {{ assignment.qualificationError  }}
                                  </span>

                                                </td>

                                                <td>
                                                    <button ng-if="!assignment.showAnswers"
                                                            ng-click="assignment.showAnswers = !assignment.showAnswers"
                                                            type="button" class="btn btn-sm">
                                    <span
                                            class="glyphicon"
                                            ng-class="{ 'glyphicon-collapse-down' : assignment.showAnswers, 'glyphicon-expand' : !assignment.showAnswers}"
                                            aria-hidden="true">
                                    </span>
                                                    </button>
                                                    <table class="table table-condensed" ng-if="assignment.showAnswers">
                                                        <thead>
                                                        <tr>
                                                            <th colspan="2">
                                                                <button ng-click="assignment.showAnswers = !assignment.showAnswers"
                                                                        type="button" class="btn btn-sm">
                                            <span
                                                    class="glyphicon"
                                                    ng-class="{ 'glyphicon-collapse-down' : assignment.showAnswers, 'glyphicon-expand' : !assignment.showAnswers}"
                                                    aria-hidden="true">
                                            </span>
                                                                </button>
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody ng-show="assignment.showAnswers">
                                                        <tr ng-repeat="(key, value) in assignment.answer">
                                                            <td class="col-md-3">{{ key }}:</td>
                                                            <td class="col-md-9">{{ value }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr ng-if="hit.assignmentsNextToken !== null">
                                                <th colspan="8" class="text-center">
                                                    <nav aria-label="More assignments">
                                                        <ul class="pager">
                                                            <li><a ng-click="moreAssignmentsForHIT(hit)">More</a></li>
                                                        </ul>
                                                    </nav>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <button class="btn btn-default" ng-if="hit.approveCount > 0"
                                                            ng-click="approveAssignments(hit)">Approve {{ hit.approveCount
                                                        }}
                                                    </button>
                                                </td>
                                                <td>
                                                    <div class="form-inline" ng-if="hit.rejectCount > 0">
                                                        <div class="form-group">
                                                            <label class="control-label"
                                                                   for="rejectReasonInput">Reason</label>
                                                            <input type="text" ng-model="globals.rejectionReason"
                                                                   class="form-control" id="rejectReasonInput"
                                                                   placeholder="Reason">
                                                        </div>
                                                        <button class="btn btn-default"
                                                                ng-disabled="globals.rejectionReason.length == 0"
                                                                ng-click="rejectAssignments(hit)">Reject {{ hit.rejectCount
                                                            }}
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-inline" ng-if="hit.bonusTotal > 0">
                                                        <div class="form-group">
                                                            <label class="control-label"
                                                                   for="bonusReasonInput">Reason</label>
                                                            <input type="text" ng-model="globals.bonusReason"
                                                                   class="form-control" id="bonusReasonInput"
                                                                   placeholder="Reason">
                                                        </div>
                                                        <button ng-disabled="bonusReason.length == 0"
                                                                class="btn btn-default" ng-click="grantBonuses(hit)">Grant
                                                            {{ hit.bonusTotal | currency:"$" }}
                                                        </button>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <button class="btn btn-default" ng-click="getAssignmentsCSV(hit)">
                                                        Download CSV
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Assignment ID</th>
                                                <th>Worker ID</th>
                                                <th><span class="glyphicon glyphicon-check" ng-click="approveAll(hit)"
                                                          title="Select all"></span> Approve
                                                </th>
                                                <th><span class="glyphicon glyphicon-check" ng-click="rejectAll(hit)"
                                                          title="Select all"></span> Reject
                                                </th>
                                                <th><span class="glyphicon glyphicon-check" ng-click="grantAll(hit)"
                                                          title="Select all"></span> Bonus
                                                </th>
                                                <th><span class="glyphicon glyphicon-check" ng-click="completeAll(hit)"
                                                          tooltip="Mark all as having completed {{experiment.name}}"
                                                          tooltip-placement="bottom"
                                                          tooltip-append-to-body="true"></span> Completed
                                                </th>
                                                <th><span class="glyphicon glyphicon-check" ng-click="qualifyAll(hit)"
                                                          tooltip="Assign qualifications to all participants"
                                                          tooltip-placement="bottom"
                                                          tooltip-append-to-body="true"></span> Assign qualification
                                                </th>
                                                <th><span class="glyphicon glyphicon-collapse-down" ng-click="showAll(hit)"
                                                          tooltip="Show all answers"
                                                          tooltip-placement="bottom"
                                                          tooltip-append-to-body="true"
                                                          title="Show all"></span> Answers
                                                </th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Title</th>
                    <th>Creation Date</th>
                    <th>Reward</th>
                    <th class="active">Requested</th>
                    <th class="active">Pending Review</th>
                    <th class="active">Reviewed</th>
                    <th class="active">Remaining</th>
                </tr>
                <tr>
                    <th colspan="7" class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-sm">
                                <li ng-class="{'disabled' : (curToken < 1)}">
                                    <a ng-click="pageHITs(curToken - 1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li ng-class="{'active' : ($index === curToken)}" ng-repeat="t in tokens"><a
                                        ng-click="pageHITs($index)">{{ ($index + 1) }}</a></li>
                                <li ng-class="{'disabled' : (tokens.length === 0 || curToken === (tokens.length - 1))}">
                                    <a ng-click="pageHITs(curToken + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </th>
                </tr>
                </tfoot>
            </table>
            <div class="panel panel-danger" ng-show="manageHits.status === 3">
                <div class="panel-heading">
                    <h3 class="panel-title">Error</h3>
                </div>
                <div class="panel-body">
                    <p ng-bind-html="manageHits.error | to_trusted"></p>
                </div>
            </div>
        </div>
    </div>
</div>
