<div id="mainDiv">
    <!--<div id="statusDiv" ng-controller="TimersCtrl" ng-show="isTimer()">-->
    <!--<progressbar ng-repeat="timer in timers" type="{{timer.appearance}}" value="timer.timerValue">-->
    <!--{{timer.timerText}}</progressbar>-->
    <!--</div>-->
    <div class="timers">
        <bb-timer ng-repeat="timer in client.player.timers"
                  elapsed="timer.elapsed"
                  duration="timer.duration"
        ></bb-timer>
    </div>
    <div id="gameDiv">
        <div id="graph">
        </div>

        <div id="rightDiv">
            <div id="text" ng-bind-html="client.player.text | to_trusted"></div>

            <div id="choices" ng-controller="ChoicesCtrl">
                <div ng-bind-html="custom | to_trusted" ng-hide="client.player.choices === undefined || custom === undefined"></div>
                <button ng-repeat="choice in childChoices |filter: {class: '!drop'}" class="{{choice.class}}" ng-click="makeChoice(choice.uid)">
                    {{choice.name}}
                </button>
            </div>
        </div>
    </div>
</div>