@(experiment: Experiment, experimentInstance: ExperimentInstance, hitId: String, assignmentId: String, workerId: String, form: Form[ClientLogin.AMTLogin]) 
@if(experiment == null || experimentInstance == null) {
<html>
    <head>
        <title>Inactive Game</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/client.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
    	<p>
    		The game you are trying to join is not active, either:
    		<ul>
    			<li>it has been completed, or</li> 
    			<li>it is experiencing technical difficulties.</li>
    		</ul>
    	</p>
    	<p>
    		Please return this HIT, you may check back later to see if the game is active.
    	</p>
    </body>
</html>
} else { @if(Boolean.TRUE.equals(experimentInstance.hasStarted) && (experimentInstance.getHit() != null && (! experimentInstance.getHit().hasWorker(workerId)))) {
<html>
    <head>
        <title>The game has already started</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/client.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <style>
          #contentDiv {
            padding: 1em;
          }
        </style>
    </head>
    <body>
      <div id="contentDiv">
        <h3>The game you are trying to join has already begun.</h3>
        <p><strong>Please return this HIT</strong>, we hope you will participate in another of our games in the future.</p>
    	</div>
    </body>
</html>
} else {
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/client.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="@routes.Assets.at("lib/modernizr/modernizr-latest.js")" type="text/javascript"></script>

		<div id="mainDiv">
		  <div id="gameDiv">
        <div id="browserTests">
          <h3>Testing...</h3>
          <ol class="tests">
          </ol>

            <script>
              var tests = ["svg", "inlinesvg", "websockets"];	
              var failed = 0;

              var start = (new Date()).getTime();
          
              function speedTest()
              {
                var minSpeed = 300;
          
                var kb = 1467;
                var s = ( (new Date()).getTime() - start ) / 1000;
                var kbps = Math.round(kb/s);

                $("#connectionSpeed").val(kbps);
          
                if (kbps >= minSpeed) {
                  $("ol.tests").append("<li>Passed. (connection speed)</li>"); 		
                } else {
                  $("ol.tests").append("<li>Failed! (connection speed)</li>"); 		
                }

                for (var i = 0; i < tests.length; i++) {
                  if (Modernizr[tests[i]]) {
                    $("ol.tests").append("<li>Passed. (" + tests[i] + ")</li>"); 		
                  } else {
                    failed++;
                    $("ol.tests").append("<li>Failed! (" + tests[i] + ")</li>"); 		
                  }
                }

                if (failed > 0) {
                  $("#browserTests").append("<h3>Failed " + failed + " out of " + (tests.length + 1) + " tests!</h3>"); 		
                  $("button.begin").css("visibility", "hidden");
                } else {
                  $("#browserTests").append("<h3>Passed all tests.</h3>"); 		
                  $("#amtIntroText").append("<p>When you are ready, accept the HIT and click 'Begin.'</p>"); 		
                }
              }
          
              var testImage = new Image(); 
              testImage.onload = speedTest;
              testImage.src = "http://brdbrd.net/img/speedtest.jpg?random=" + Math.random();

            </script>
        </div>
        @if(experiment.getContentByName("AMTIntro") != null) {
        <div id="amtIntroText">
          @Html(experiment.getContentByName("AMTIntro").translations.get(0).html)
        </div>
        }
      @if(! assignmentId.equals("ASSIGNMENT_ID_NOT_AVAILABLE")) {
            @helper.form(routes.ClientLogin.amtAuthenticate(experiment.id, experimentInstance.id, hitId, assignmentId, workerId)) {
          @if(form.hasGlobalErrors) { 
            <p class="error">
              @form.globalError.message
            </p>
          }
          
          @if(flash.contains("success")) {
            <p class="success">
              @flash.get("success")
            </p>
          }

          @helper.input(form("connectionSpeed"), '_label->None) { (id, name, value, args) =>
            <input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
          }

          <p id="beginButton">
            <button type="submit" class="begin">Begin</button>
          </p>
            }
        }
        </div>
      </div>
    </body>
</html>
}}
