<html>
    <head>
        <title>Inactive Game</title>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
        <style>
			#contentDiv {
				margin: 1em;
			}
        </style>
    </head>
    <body>
      <div id="contentDiv">
        <p>
          The game you are trying to join is not active, either:
          <ul>
            <li>it has been completed, or</li> 
            <li>it is experiencing technical difficulties.</li>
          </ul>
        </p>
        <p>
          <strong>Please return this HIT</strong>, we hope you will participate in another of our games in the future.
        </p>
    	</div>
    </body>
</html>
