@(experiment: Experiment, experimentInstance: ExperimentInstance, hitId: String, assignmentId: String, workerId: String, form: Form[ClientLogin.AMTLogin]) 
<html>
    <head>
        <title>Extended Game</title>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
        <style>
      #mainDiv {
        margin: 1em;
      }
        </style>
    </head>
    <body>
      <div id="mainDiv">
      <p>
        We are sorry that you were unable to submit the assignment previously and have extended the assignment so you can submit it.
      </p>
      <p>
        Please click the "Submit HIT" button below.
      </p>

      <form action="https://@{var urlPrefix = "www"; if (experimentInstance.getHit().sandbox) urlPrefix = "workersandbox"; urlPrefix}.mturk.com/mturk/externalSubmit" method="get">
        <button type="submit">Submit HIT</button>
        <input type="hidden" name="assignmentId" value="@assignmentId" />
        <input type="hidden" name="submitted" value="true" />
      </form>
    </div>
    </body>
</html>
