<html>
    <head>
        <title>The game has started</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/client.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <style>
			#contentDiv {
				padding: 1em;
			}
        </style>
    </head>
    <body>
      <div id="contentDiv">
        <h3>The game you are trying to join has already begun.</h3>
        <p><strong>Please return this HIT</strong>, we hope you will participate in another of our games in the future.</p>
      </div>
    </body>
</html>
