<html>
    <head>
        <title>Previous Worker</title>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
        <style>
      #contentDiv {
        padding: 1em;
      }
        </style>
    </head>
    <body>
      <div id="contentDiv">
        <h3>You have played this type of game before. Thank you for your participation!</h3>  
        <p>We do not allow repeat play for this game. <strong>Please return this HIT.</strong></p>
        <p>We hope you will check out future games as we may allow previous players to join future experiments. Thanks again for your time.</p>
      </div>
    </body>
</html>
