@(experimentId: String, experimentInstanceId: String, clientId: String, connectionSpeed: String, clientHtml: String, clientGraph: String)
@clientMain(experimentId, experimentInstanceId, clientId, connectionSpeed) {
    @if(clientHtml.length() > 0) {
        @Html(clientHtml)
    } else {

    }
    <style id="style"></style>
    @if(clientGraph.length() > 0) {
        <script>@Html(clientGraph)</script>
    } else {
      <script src="@routes.Assets.at("js/client-graph.js")" type="text/javascript"></script>
    }
}
