@(ev: ExperimentView)
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  @for(headDependency <- ev.getHeadDependencies) {
    @Html(headDependency.content)
  }
    <title>@Html(ev.title)</title>
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico">
    <style>
    @for(style <- ev.getStyle) {
      @Html(style.content)
    }
    </style>
  </head>
  <body>
  @for(content <- ev.getContent) {
    @Html(content.content)
  }
    <script type="text/javascript">
      const templates = {
        @for(template <- ev.getTemplates) {
          '@template.name': '@template.content',
        }
      }
    </script>
  @for(bodyDependency <- ev.getBodyDependencies) {
    @Html(bodyDependency.content)
  }
  @for(script <- ev.getScripts) {
    <script type="text/javascript">
      @Html(script.content)
    </script>
  }
  </body>
</html>