@(assetsRoot: String)
<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Breadboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/codemirror.css">
    <link rel="stylesheet" href="/assets/css/Aristo/Aristo.css">
    <link rel="stylesheet" href="@assetsRoot/bundles/design.css">
    <!--<link rel="stylesheet" href="assets/css/main.css">-->
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tinymce/4.1.3/skins/lightgray/skin.min.css">-->
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tinymce/4.1.3/skins/lightgray/content.min.css">-->
    <!--<link rel="stylesheet" href="assets/css/tinymce.css">-->
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico">
</head>
<body>
    <div ng-app="breadboard" class="breadboard-container">
        <div ui-view></div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script type="text/javascript" src="/assets/lib/d3/d3.js"></script>
    <script type="text/javascript" src="/assets/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/assets/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="@assetsRoot/bundles/breadboard.js" charset="utf-8"></script>
    <script type="text/javascript" src="@assetsRoot/bundles/design.js" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/lib/ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
</body>
</html>
