<div class="container-fluid">
    <div ng-show="status !== 2 && (!experimentInstance || experimentInstance.status !== 'RUNNING')">
        <div class="panel panel-default">
            <div class="panel-heading">
                No running experiment instance
            </div>
            <div class="panel-body">
                <p>Make sure you have created an experiment instance and that the experiment instance is
                    currently running.</p>
            </div>
        </div>
    </div>
    <form name="hitForm"
          id="amtDiv"
          class="form"
          ng-show="status < 2 && experimentInstance && experimentInstance.status === 'RUNNING'">
        <div>
            <div class="form-group">
                <label class="control-label" for="title">Title</label>
                <input ng-disabled="status == 1" class="form-control" id="title"
                       ng-model="title" placeholder="Title" required></div>
            <div class="form-group">
                <label class="control-label" for="description">Description</label>
                <textarea ng-disabled="status == 1" class="form-control" id="description"
                          ng-model="description" placeholder="Description" rows="3"
                          cols="60" required></textarea>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="create-reward">Reward</label>
                    <div class="col-md-3">
                        <input id="create-reward" ng-disabled="status == 1" class="form-control" type="number"
                               min="0" step="0.01" name="reward" ng-model="reward"
                               placeholder="Reward" required>
                    </div>
                    <label class="control-label col-md-3" for="maxAssignments">Max. Assignments</label>
                    <div class="col-md-3">
                        <input ng-disabled="status == 1" class="form-control" type="number"
                               min="1" id="maxAssignments"
                               ng-model="maxAssignments" placeholder="Max Assignments" required>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="lifetimeInSeconds">HIT lifetime (in
                        seconds)</label>
                    <div class="col-md-3">
                        <input ng-disabled="status == 1" class="form-control" type="number"
                               id="lifetimeInSeconds" ng-model="lifetime" min="0"
                               placeholder="HIT lifetime (sec.)" required>
                    </div>
                    <label class="control-label col-md-3" for="tutorialTime">Tutorial time (in seconds)</label>
                    <div class="col-md-3">
                        <input ng-disabled="status == 1" class="form-control" type="number"
                               id="tutorialTime" ng-model="tutorialTime" min="0"
                               placeholder="Tutorial time (sec.)" required>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="assignmentDuration">Assignment duration (in
                        seconds)</label>
                    <div class="col-md-3">
                        <input ng-disabled="status == 1" class="form-control" type="number"
                               id="assignmentDuration" ng-model="assignmentDuration" min="0"
                               placeholder="Assignment duration (sec.)" required>
                    </div>
                    <label class="control-label col-md-3" for="tutorialTime">Keywords (for HIT search)</label>
                    <div class="col-md-3">
                        <input ng-disabled="status == 1" class="form-control" type="text"
                               id="keywords" ng-model="keywords"
                               placeholder="Keywords" required>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="disallowPrevious">Allow repeat play?</label>
                    <div class="col-md-3">
                        <select ng-disabled="status == 1" class="form-control"
                                id="disallowPrevious" ng-model="disallowPrevious" required>
                            <option value=""></option>
                            <option value="type">Block previous players of THIS experiment</option>
                            <option value="any">Block previous players of ANY experiment</option>
                            <option value="none">Allow repeat play</option>
                        </select>
                    </div>
                    <label class="control-label col-md-3" for="autoLaunch">Start initStep automatically when HIT
                        lifetime and tutorial time expire?</label>
                    <div class="col-md-3">
                        <input ng-disabled="status == 1" class="form-control" type="checkbox"
                               id="autoLaunch" ng-model="autoLaunch">
                    </div>
                </div>
            </div>
            <select-qualifications sandbox="sandbox" qualification-requirements="qualificationRequirements"></select-qualifications>
            <div class="form-group col-md-12">
                <button ng-disabled="hitForm.$invalid || status == 1" class="btn btn-default"
                        id="submitAMTButton"
                        ng-click="createHIT()">
                    Create HIT
                </button>
            </div>
        </div>
    </form>
    <div ng-show="status == 2">
        <table class="table" ng-repeat="hit in experimentInstance.hits">
            <thead>
            <tr>
                <th colspan="2">HIT Created</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Creation Time</td>
                <td>{{hit.creationTime}}</td>
            </tr>
            <tr>
                <td>HIT Id</td>
                <td>{{hit.hitId}}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{hit.title}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{hit.description}}</td>
            </tr>
            <tr>
                <td>Reward</td>
                <td>{{hit.reward}}</td>
            </tr>
            <tr>
                <td>HIT lifetime (in seconds)</td>
                <td>{{hit.lifetimeInSeconds}}</td>
            </tr>
            <tr>
                <td>Tutorial time (in seconds)</td>
                <td>{{hit.tutorialTime}}</td>
            </tr>
            <tr>
                <td>Max. Assignments</td>
                <td>{{hit.maxAssignments}}</td>
            </tr>
            <tr>
                <td>URL</td>
                <td>{{hit.externalURL}}</td>
            </tr>
            <tr>
                <td>Sandbox?</td>
                <td>{{hit.sandbox}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="status == 3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Error creating AMT HIT
            </div>
            <div class="panel-body" ng-bind-html="error | to_trusted"></div>
        </div>
    </div>
</div>
